@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Bossa';
        src: url('./assets/fonts/Bossa-Bold.dbe4b9ea.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}